<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Report generator</title>
  </head>
  <body>
    <div class="content">
      <header>
        <nav>
          <ul>
            <li class="headerName"><a href="/">Report generator</a></li>
            <li class="apiLink">
              <a href="/api-docs">API documentation &#x2197;</a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="mainContainer">
        <section class="formPart">
          <h2>All available reports</h2>
          <!-- form for fetching parameters and downloading the report -->
          <form id="reportForm" onsubmit="showJsonOutput(event);">
            <!-- list all reports -->
            <label for="reportList">Select report:</label>
            <select id="reportList" name="reportList" onchange="fetchParams()">
              <!-- options will be populated dynamically -->
            </select>
            <br />
            <!-- list all parameters -->
            <h2 class="paramH2">Parameters for report</h2>
            <div id="paramList">
              <p>To view the parameters, please select a report first</p>
              <!-- parameter inputs will be populated dynamically -->
            </div>
            <br />
            <button class="generateBtn" type="submit">Generate</button>
          </form>
          <form id="convertForm" onsubmit="convert(event)">
            <select name="format" id="format">
              <option value="">-- select format --</option>
              <option value="csv">CSV</option>
              <option value="pdf">PDF</option>
            </select>
            <button id="convertBtn" class="convertBtn" type="submit">
              Convert
            </button>
          </form>
          <div class="barcodeInput">
            <input type="text" placeholder="Scan Barcode / Enter Code ID" />
            <button id="scanBtn" class="scanBtn" type="button">
              <img
                class="barcodeImg"
                src="/img/barcode.png"
                alt="Barcode Icon"
              />
            </button>
          </div>
        </section>

        <section class="rightContainer">
          <div class="tabs">
            <a class="tablinks" onclick="openTab(event, 'jsonOutput')">JSON</a>
            <a class="tablinks" onclick="openTab(event, 'csvOutput')">CSV</a>
            <a class="tablinks" onclick="openTab(event, 'pdfOutput')">PDF</a>
            <a class="tablinks" onclick="openTab(event, 'scannerOutput')"
              >Scanner</a
            >
            <form id="downloadForm" onsubmit="downloadReport(event)">
              <button class="downloadBtn" type="submit">Download</button>
            </form>
          </div>
          <div id="jsonOutput" class="tabcontent">
            <div id="reportData">
              <!-- JSON data will be displayed here -->
            </div>
          </div>
          <div id="csvOutput" class="tabcontent">
            <div id="csvData">
              <!-- CSV data as table will be displayed here -->
            </div>
          </div>

          <div id="pdfOutput" class="tabcontent">
            <div id="pdfData">
              <!-- PDf preview will be displayed here -->
              <embed
                id="pdfPreview"
                src=""
                type="application/pdf"
                width="100%"
                height="800px"
              />
            </div>
          </div>
          <div id="scannerOutput" class="tabcontent">
            <h2 id="scanHeader">Scan a barcode</h2>
            <div id="reader"></div>
            <div id="result"></div>
            <div id="scannerBtns">
              <button id="startBtn" class="start" style="display: none">
                Start Scanning
              </button>
              <button id="stopBtn" class="stop">Stop Scanning</button>
            </div>
          </div>
        </section>
      </main>
      <script src="/node_modules/html5-qrcode/html5-qrcode.min.js"></script>
      <script src="/js/scanner.js"></script>
      <script src="/js/app.js"></script>
      <script src="/js/suggestions.js"></script>
      <script src="/js/converting.js"></script>
    </div>
  </body>
</html>
