<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Report generator</title>
  </head>
  <body>
    <div class="content">
      <header>
        <nav>
          <ul>
            <li class="headerName"><a href="/">Report generator</a></li>
            <li class="apiLink">
              <a href="/api-docs">API documentation &#x2197;</a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="mainContainer">
        <section class="formPart">
          <h2>All available reports</h2>
          <!-- form for fetching parameters and downloading the report -->
          <form id="reportForm" onsubmit="showJsonOutput(event);">
            <!-- list all reports -->
            <label for="reportList">Select report:</label>
            <select id="reportList" name="reportList" onchange="fetchParams()">
              <!-- options will be populated dynamically -->
            </select>
            <br />
            <!-- list all parameters -->
            <h2 class="paramH2">Parameters for report</h2>
            <div id="paramList">
              <p>To view the parameters, please select a report first</p>
              <!-- parameter inputs will be populated dynamically -->
            </div>
            <br />
            <button class="generateBtn" type="submit">Generate</button>
          </form>
          <form id="convertForm" onsubmit="convert(event)">
            <select name="format" id="format">
              <option value="">-- select format --</option>
              <option value="csv">CSV</option>
              <option value="pdf">PDF</option>
            </select>
            <button class="convertBtn" type="submit">Convert</button>
          </form>
        </section>

        <section class="rightContainer">
          <div class="tabs">
            <a class="tablinks" onclick="openTab(event, 'jsonOutput')">JSON</a>
            <a class="tablinks" onclick="openTab(event, 'csvOutput')">CSV</a>
            <a class="tablinks" onclick="openTab(event, 'pdfOutput')">PDF</a>
            <form id="downloadForm" onsubmit="downloadReport(event)">
              <button class="downloadBtn" type="submit">Download</button>
            </form>
          </div>
          <div id="jsonOutput" class="tabcontent">
            <div id="reportData">
              <!-- JSON data will be displayed here -->
            </div>
          </div>
          <div id="csvOutput" class="tabcontent">
            <div id="csvData">
            </div>
          </div>
          
          <div id="pdfOutput" class="tabcontent">
            <div id="pdfData">
            </div>
          </div>
        </section>
      </main>

      <script src="/js/app.js"></script>
    </div>
  </body>
</html>
