/*universal settings*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
}

.content {
  width: 95%;
  margin: auto;
}

/*navbar settings*/
nav {
  margin-bottom: 2em;
  border-bottom: 1px solid #0000001e;
}

ul {
  list-style-type: none;
  overflow: hidden;
  padding: 10px;
}

li {
  display: inline;
}

.headerName {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.headerName a {
  text-decoration: none;
  color: #111;
}

.apiLink a {
  text-decoration: none;
  float: right;
  padding: 10px 20px;
  background-color: #222;
  color: #fafafa;
  border: 0;
  border-radius: 25px;
}

.apiLink a:hover {
  background-color: #333;
}

/*main container settings*/
.mainContainer {
  display: flex;
  flex-direction: column; /*change to column for better mobile support */
}

@media (min-width: 768px) {
  .mainContainer {
    flex-direction: row; /*revert to row for larger screens */
  }
}

/*form settings*/
.formPart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #fafafa;
  padding: 2em;
  border: 0;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  box-sizing: border-box;
}

label {
  font-size: 16px;
  margin: 0.5em 0;
}

input[type="text"] {
  padding: 10px;
  border: 0;
  border-radius: 25px;
  background-color: #e6e6e6;
  font-size: 14px;
  width: 100%;
  margin-bottom: 1em;
  box-sizing: border-box;
}

input:hover {
  background-color: #d6d6d6;
}

select {
  padding: 10px;
  background-color: #e6e6e6;
  border: 0;
  border-radius: 25px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

select:hover {
  background-color: #d6d6d6;
}

.paramInput {
  text-transform: capitalize;
}

/*button settings*/
.generateBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #478d53;
  color: #fafafa;
  border: none;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 1em;
}

.generateBtn:hover {
  background-color: #45814f;
  cursor: pointer;
}

/*download form settings*/
#downloadForm {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
  box-sizing: border-box;
}

.downloadBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #707070;
  color: #fafafa;
  border: 0;
  border-radius: 25px;
  width: 100%;
  margin: 10px;
}

.downloadBtn:hover {
  background-color: #777;
  cursor: pointer;
}

/*tab nav settings*/
.rightContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  flex-grow: 1;
  border-radius: 25px;

  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

@media (max-width: 768px) {
  .rightContainer {
    margin-left: 0;
    margin-top: 2em;
  }

  #downloadForm {
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  .downloadBtn {
    width: 100%;
    margin: 1em 2em;
  }

  .tabs {
    margin-top: 1em;
    justify-content: center;
    flex-direction: column;
  }
}

.tabs {
  display: flex;
  border-radius: 25px;
  width: 100%;
  background-color: #fafafa;
  flex-wrap: wrap; /*allow tabs to wrap on smaller screens */
}

.tablinks {
  color: #111;
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: auto;
  min-width: 100px;
  font-size: 18px;
  background-color: #fafafa;
  flex: none; /* ensure tabs don't stretch */
}

.tablinks:hover {
  color: #888;
}

.tablinks.active {
  background-color: #e6e6e6;
  color: #111;
  margin: auto;
  width: 40%;
}

.tabcontent {
  display: none;
  padding: 3em;
  background-color: #333;
  color: #fafafa;
  border-radius: 25px;
  font-size: 14px;
  flex-grow: 1;
}

/*convert form*/
#convertForm {
  display: flexbox;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  #convertForm {
    margin: 0;
    justify-content: space-around;
    flex-direction: row; /*revert to row for larger screens */
  }
}

.convertBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #222;
  color: #fafafa;
  border: 0;
  border-radius: 25px;
  width: 100%;
  margin-top: 1em;
}

.convertBtn:hover {
  background-color: #333;
  color: #fafafa;
  cursor: pointer;
}

#reportData {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* suggestions settings */
.results {
  display: hidden;
  position: absolute;
  background-color: #fafafa;
  border: none;
  border-radius: 25px;
  max-height: 200px;
  overflow-y: auto;
  width: auto;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}
.results p {
  padding: 15px 20px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.2s;
}
.results p:hover {
  background-color: #e6e6e6;
}

/*error settings*/
.error {
  background-color: #db3333;
  color: #fafafa;
  margin: 1em;
  padding: 1em;
  border: 0;
  border-radius: 4px;
}

/*CSV table*/
#csvData {
  overflow-x: auto; /*allow horizontal scrolling */
}

#csvData table {
  max-width: 100%;
  border-collapse: collapse;
  border-radius: 0 0 4px 4px;
}

#csvData th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#csvData td {
  background-color: #333;
}

#csvData th {
  text-align: center;
  padding: 8px;
  font-size: 16px;
  background-color: #111;
  color: #fafafa;
}

/*PDF preview*/
embed {
  border: 0;
  border-radius: 25px;
}

#scannerOutput {
  display: none; /* Initially hide the scanner output */
}

#reader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#scannerBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  color: #fafafa;
  margin: auto;
}
.start,
.stop,
#scanAnotherBtn {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #fafafa;
}
.start,
#scanAnotherBtn {
  background-color: #478d53;
  border: 1px solid #60b46e;
}
.start:hover {
  background-color: #45814f;
}
.stop {
  margin-top: 1em;
  background-color: #db3333;
  border: 1px solid #ff4a4a;
}
.stop:hover {
  background-color: #cf2e2e;
}

#result {
  max-width: 600px;
  margin: auto;
  text-align: center;
  display: flexbox;
  justify-content: center;
  align-items: center;
}
#result a {
  color: #e6e6e6;
  font-size: 16px;
}
#result p {
  margin-top: 1em;
  font-size: 16px;
  color: #fafafa;
}
#result h2 {
  font-size: 24px;
  color: #57a864;
}
.scanBtn {
  padding: 10px 25px;
  font-size: 16px;
  background-color: #666;
  color: #fafafa;
  border: none;
  border-radius: 25px;
  width: 100%;
  margin-top: 1em;
}

.scanBtn:hover {
  background-color: #777;
  cursor: pointer;
}

#scanHeader {
  font-size: 24px;
  text-align: center;
}
